chromadb==0.5.23
langchain==0.3.12
langchain-chroma==0.1.4
langchain-community==0.3.12
langchain-core==0.3.28
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.3
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.48
langsmith==0.1.147
matplotlib
numpy==1.26.4
openai==1.58.1
pandas
pillow==11.0.0
pip==24.2
pydantic==2.10.3
pydantic_core==2.27.1
pydantic-extra-types==2.10.1
pydantic-settings==2.6.1
python-dotenv==0.21.0
PyYAML==6.0.2
requests==2.32.3
runpod==1.7.7
seaborn==0.13.2
typing_extensions==4.12.2
typing-inspect==0.9.0
fastapi
uvicorn
redis
faiss-cpu
dill
pymupdf4llm
numpy
tabulate